*{
    padding: 0px 0px 0 0px;
    margin-top: 0px;
    margin-bottom: 0px; 
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}
.menu-bar{
    background: linear-gradient(to bottom, rgb(5, 129, 5), white);
 }
 .nav-link {
    font-size:20px;
    margin: 3px;
    color:black;
    font-weight:500;
 }
 .navbar-nav {
    text-align: right;
    margin-right: 20px;
 }
 .menu-bar .navbar-toggler {
    padding-right: 20px;
    outline: none!important;
    border: none!important;
 }
.mi-img-carrusel{
    height:400px;
    width: 100%;
    object-fit: cover;
 }

.footer{
    background: linear-gradient(to bottom, #E9ECEF, rgb(85, 85, 85));
    padding: 10px 10px 0 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: black;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    font-size: 10px;    
}

footer .row{
    margin-right: 0;
    margin-left: 0;
    text-align: center;
}

footer a{
    color: white;
}

.mi-card-proyecciones{
    flex: 1 370px;
    margin-left: 0px;
    margin-top: 0px;
}

.mi-card-graphics{
    flex: 1 500px;
    margin-left: 8px;
    margin-top: 8px;
    text-align: center;
}
