<table>
    <tr>
        <th>Fecha</th>
        <th>Descripcion</th>
        <th>Categoria</th>
        <th>Valor</th>
    </tr>
    <tr>
        <td>2021-01-01</td>
        <td>Alimentos</td>
        <td>Comida</td>
        <td>$180.000</td>
    </tr>
    <tr>
        <td>2021-01-03</td>
        <td>Carniceria</td>
        <td>Comida</td>
        <td>$65.000</td>
    </tr>
    <tr>
        <td>2021-01-05</td>
        <td>Servicios</td>
        <td>Servicios Publicos</td>
        <td>$380.000</td>
    </tr>
    
</table>