<!-- <nav>
    
    <div>
        <a href="../index.html"      target="_parent">Inicio</a>        
        <a href="../pages/iniciarSesion.html"   target="_parent">Inicio de sesión</a>
        <a href="../pages/Movimientos.html"   target="_parent">Movimientos</a>
        <a href="../pages/balance.html"   target="_parent">Balance</a>
        <a href="../pages/proyecciones.html"   target="_parent">Proyecciones</a>
        <a href="../pages/educacionFinanciera.html" target="_parent" >Educacion Financiera</a>
    </div>
    
    
</nav> -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">PlafiP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../pages/iniciarSesion.html">Inicio de sesión</a>
        </li>      
        <li class="nav-item active">
            <a href="../pages/Movimientos.html">Movimientos</a>
        </li>
        <li class="nav-item">
            <a href="../pages/balance.html">Balance</a>
        </li>
        <li class="nav-item">
            <a href="../pages/proyecciones.html">Proyecciones</a>
        </li>
        <li class="nav-item">
            <a href="../pages/educacionFinanciera.html">Educacion Financiera</a>
        </li>
      </ul>
    </div>
    
  </nav>